<div class="container d-flex flex-column">
        <h3  class="align-self-center">Reset Password</h3>
        <form class="d-flex flex-column" [formGroup]='resetForm' (ngSubmit)="reset()" >
            <div class="align-self-center">
            <label for="password">New Password
            <input type="password" id="password" class="form-control align-self-center" formControlName='password' required>
            <span *ngIf="!resetForm.get('password').valid && resetForm.get('password').touched" class="err-msg">
                <span *ngIf="resetForm.get('password').errors['required']">This field is required!</span>        
            </span></label>
            </div>
            <button class="btn btn-success mx-1 align-self-center" [disabled]="!resetForm.valid" type="submit">Reset Password</button>
        </form>
</div>