<div class="container d-flex flex-column">
    <h3 class="align-self-center">Search</h3>
    <form class="d-flex flex-column" [formGroup]='travellerform' (ngSubmit)="openCheckout()" >
        <div class="row align-self-center">
            <div class="col-lg-12">
            <button *ngIf="count!=5" (click)="counter()" type="button" class="btn btn-success btn-sm">Add Traveller</button>
            </div>
        </div>
        <div *ngFor="let traveller of travellers" class="align-self-center my-1">
            <label for="{{traveller}}">{{traveller.substring(0,9) | uppercase}} {{traveller.substring(9,10)}}
            <input type="{{traveller}}" id="{{traveller}}" class="form-control" formControlName='{{traveller}}' required>
            <!-- <span *ngIf="!travellerform.get('{{traveller}}').valid && travellerform.get('{{traveller}}'').touched" class="err-msg">
                <span *ngIf="travellerform.get('{{traveller}}').errors['required']">This field is required!</span>        
            </span> -->
        </label>
        </div>
        <button class="btn btn-success align-self-center" [disabled]="!travellerform.valid" type="submit">Book</button>
    </form>
</div>

