<div class="container d-flex flex-column">
    <h3 class="align-self-center">Change Password</h3>
    <form class="d-flex flex-column" [formGroup]='changePasswordForm' (ngSubmit)="updatePassword()" >
        <div class="align-self-center my-1">
        <label for="oldPassword">Old Password
        <input type="password" id="oldPassword" class="form-control" formControlName='oldPassword' required>
        <span *ngIf="!changePasswordForm.get('oldPassword').valid && changePasswordForm.get('oldPassword').touched" class="err-msg">
            <span *ngIf="changePasswordForm.get('oldPassword').errors['required']">This field is required!</span>        
        </span></label>
        </div>
        <div class=" align-self-center my-1">
        <label for="newPassword">New Password     
        <input type="password" id="newPassword" class="form-control" formControlName='newPassword' required>
        <span *ngIf="!changePasswordForm.get('newPassword').valid && changePasswordForm.get('newPassword').touched" class="err-msg">
            <span *ngIf="changePasswordForm.get('newPassword').errors['required']">This field is required!</span>        
        </span></label>
        </div>
        <div class=" align-self-center my-1">
        <label for="confirmPassword">Confim Password
        <input type="password" id="confirmPassword" class="form-control" formControlName='confirmPassword' required>
        <span *ngIf="!changePasswordForm.get('confirmPassword').valid && changePasswordForm.get('confirmPassword').touched" class="err-msg">
            <span *ngIf="changePasswordForm.get('confirmPassword').errors['required']">This field is required!</span>
        </span>
        <span *ngIf="changePasswordForm.get('confirmPassword').valid && changePasswordForm.get('confirmPassword').touched" class="err-msg">
           <span *ngIf="changePasswordForm.get('confirmPassword').value!=changePasswordForm.get('newPassword').value">
            It must be same as new password!</span>        
        </span>
        </label>
        </div>
        <button class="btn btn-success align-self-center" [disabled]="!changePasswordForm.valid || changePasswordForm.get('confirmPassword').value!=changePasswordForm.get('newPassword').value" type="submit">Submit</button>
    </form>
</div>