<nav class="navbar navbar-light bg-light navbar-expand">
    <a class="navbar-brand" href="/home">TravelEase</a>
    <div class="container justify-content-center pr-5">
        <div class="menu pr-3">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a routerLink="" class="nav-link">Home</a>
                </li>
                <li *ngIf="role=='admin'" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage Merchants
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="merchant/add">Add Merchants</a>
                        <a class="dropdown-item" routerLink="merchant/view">View Merchants</a>
                    </div>
                </li>
                <li *ngIf="role=='merchant'" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage Buses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="bus/add">Add Bus</a>
                        <a class="dropdown-item" routerLink="bus/view">View Buses</a>
                    </div>
                </li>
                <li *ngIf="role=='user'" class="navbar-item">
                        <a routerLink="search" class="nav-link">Book</a>
                </li>
                <li *ngIf="role=='merchant'" class="navbar-item">
                    <a routerLink="customers" class="nav-link">Customers</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-link"><a *ngIf="!loggedin" class="btn btn-success" routerLink="login">Login</a></li>
            <li class="nav-link"><a *ngIf="!loggedin" class="btn btn-primary" routerLink="register">Register</a></li>
            <li class="nav-link"><a *ngIf="loggedin" (click)="logout()" routerLink="" class="btn btn-warning">Logout</a></li>
        </ul>
    </div>
</nav>